#page-wrapper:not(.layout-builder-overrides-node-view) .block-views-blockcpcommhub-resources-block-1 {
    display: none;
}

#edit-user-groups-target-id--wrapper legend {
    display: none;
}

#edit-user-groups-target-id--wrapper .form-checkboxes.bef-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.form-item-scope-value, .form-item-search-value {
    margin-right: 1rem;
}

.ajax-progress {
    display: none; 
}
