{#
/**
 * @file
 * Default theme implementation for data search block.
 *
 * @ingroup themeable
 */
#}

<p>
	Start with <a href="/data-products">
	ICOS main data products</a> which group datasets by themes from all our stations.
	To find more specific observational data from our ecosystem,
	atmosphere and ocean stations, or elaborated products produced
	from ICOS and/or other datasets, select a data type and a theme below.
</p>

<div class="data-search-form-container">
	<form name="dataSearchForm" class="data-search-form col-12 col-md-7" id="js-data-search-form">

		<fieldset class="data-search-form-fieldset types">
			<legend class="legend">Select data type</legend>
			<div class="row">
				<label class="box type col-6" data-type="observational">
					<input class="box-input" type="checkbox" name="type" value="1,2">
					<div class="box-content">
						<i class="fas fa-3x fa-binoculars"></i>
						<div class="box-label">Observational data</div>
					</div>
				</label>
				<label class="box type col-6" data-type="produced">
					<input class="box-input" type="checkbox" name="type" value="3">
					<div class="box-content">
						<i class="fas fa-3x fa-cogs"></i>
						<div class="box-label">Elaborated products</div>
					</div>
				</label>
			</div>
		</fieldset>

		<fieldset class="data-search-form-fieldset themes" style="display: none;">
			<legend class="legend">Select data theme(s)</legend>
			<div class="row">
				<label class="box theme col-4">
					<input class="box-input" type="checkbox" name="theme" value="ecosystem">
					<div class="box-content">
						<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/eco.svg" title="Ecosystem data">
						<div class="box-label">Ecosystem</div>
					</div>
				</label>
				<label class="box theme col-4">
					<input class="box-input" type="checkbox" name="theme" value="atmosphere">
					<div class="box-content">
						<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/atm.svg" title="Atmospheric data">
						<div class="box-label">Atmosphere</div>
					</div>
				</label>
				<label class="box theme col-4">
					<input class="box-input" type="checkbox" name="theme" value="ocean">
					<div class="box-content">
						<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/oce.svg" title="Ocean data">
						<div class="box-label">Ocean</div>
					</div>
				</label>
			</div>
		</fieldset>

		<input type="submit" class="btn btn-lg btn-primary btn-find-data d-block" value="Find data">

	</form>
</div>

<p class="text-right read-more">
	<a href="/data-services">About ICOS Data</a>
</p>
