{#
/**
 * @file
 * Default theme implementation for data search block.
 *
 * @ingroup themeable
 */
#}

<form name="dataSearchForm" class="dataSearchForm" id="js-data-search-form">

	<fieldset class="types">
		<legend class="legend">Type</legend>
		<div class="search-field-row">
			<label class="box type" data-type="observational">
				<input class="box-input" type="radio" name="type" value="2">
				<div class="box-content">
					<i class="fas fa-3x fa-binoculars"></i>
					<div class="box-label">Observational</div>
				</div>
			</label>
			<label class="box type" data-type="produced">
				<input class="box-input" type="radio" name="type" value="3">
				<div class="box-content">
					<i class="fas fa-3x fa-cogs"></i>
					<div class="box-label">Produced</div>
				</div>
			</label>
		</div>
	</fieldset>

	<fieldset class="themes" style="display: none;">
		<legend class="legend">Theme</legend>
		<div class="search-field-row">
			<label class="box theme">
				<input class="box-input" type="radio" name="theme" value="Ecosystem data">
				<div class="box-content">
					<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/eco.svg" title="Ecosystem data">
					<div class="box-label">Ecosystem</div>
				</div>
			</label>
			<label class="box theme">
				<input class="box-input" type="radio" name="theme" value="Atmospheric data">
				<div class="box-content">
					<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/atm.svg" title="Atmospheric data">
					<div class="box-label">Amtosphere</div>
				</div>
			</label>
			<label class="box theme">
				<input class="box-input" type="radio" name="theme" value="Ocean data">
				<div class="box-content">
					<img class="theme-icon" src="https://static.icos-cp.eu/images/themes/oce.svg" title="Ocean data">
					<div class="box-label">Ocean</div>
				</div>
			</label>
		</div>
	</fieldset>

	<p class="advanced-search"><a href="https://data.icos-cp.eu">Advanced search</a></p>

	<div class="btn-find-data">
		<input type="submit" class="btn btn-lg btn-block btn-orange" value="Find data">
	</div>

</form>
