/composer/
/config/
/db/
/docker/
/files/
/libraries/
/modules/contrib/
/modules/*
/themes/contrib/

!modules/custom/
!modules/cp_blogs/
!modules/cp_contacts/
!modules/cp_data_search/
!modules/cp_events/
!modules/cp_external_auth/
!modules/ns_stationdata/

.csslintrc
.editorconfig
.eslintignore
.gitattributes
.ht.router.php
.htaccess
autoload.php
core/
index.php
profiles/
robots.txt
/sites/
themes/.gitkeep
update.php
web.config
README.txt
INSTALL.txt
example.gitignore