a {
	color: #0a96f0;
}

a:hover,
a:focus,
a:active {
	color: #0769A8;
	text-decoration: none;
}

#header {
	background-image: url(https://static.icos-cp.eu/images/cp-header-background.jpg);
}

#header .tint {
  background-color: rgba(10, 150, 240, 0.5);
}

.cp_embed_twitter {
	max-height: 460px;
	overflow-y: auto;
}

.btn-primary {
	background: #0a96f0;
	color: #fff;
	border: 0;
}

.btn-primary:hover,
.btn-primary:focus {
	background: #0a96f0;
	background: rgba(10, 150, 240, 0.85);
	color: #fff;
}

.btn-primary:active {
	background: #0a96f0;
	filter: brightness(85%);
	color: #fff;
}

.btn-outline {
	background: transparent;
	color: #0a96f0;
	border-color: #0a96f0;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
	background: #0a96f0;
	color: #fff;
}
