#header {
	background-image: url(../images/icos-ri_header_small.jpg);
}

@media all and (min-width: 513px) {
	#header {
		background-image: url(../images/icos-ri_header_medium.jpg);
	}
}

@media all and (min-width: 1025px) {
	#header {
		background-image: url(../images/icos-ri_header.jpg);
	}
}

#header .tint {
  background-color: rgba(10,150,240, 0.5);
}

#header .region-header img {
	height: 100px;
	padding-left: 135px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1.page-title {
	text-align: center;
	text-transform: uppercase;
	color: #0a96f0;
}

.region h2 {
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
	font-weight: 500;
	color: #0a96f0;
}

/** Home page **/
.page-title {
	padding: 0 0 1rem 0px;
	border-bottom: 0.1rem dashed #c7c8ca;
}

.field--name-field-cp-page-ingress .field__label {
	display: none;
}

.field--name-field-cp-page-ingress .field__item {
	padding: 0 0 3rem 0;
	font-size: 1.4rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.cp_embed_twitter {
	max-height: 337px;
	overflow-y: auto;
}

#block-tweets,
#block-viewteasedcpblog {
	background-color: #f6f6f2;
	margin-top: 10px;
	padding: 10px 20px 20px;
}

#block-stationmap {
	margin-top: 30px;
	border-top: 5px solid #f6f6f2;
	background-color: #f6f6f2;
}

#block-stationmap h2 {
	margin-left: 2rem;
}

#block-stationmap > .content {
	border-left: 20px solid #f6f6f2;
	border-right: 20px solid #f6f6f2;
}

#block-stationmap .to_bigger_map {
	background-color: #f6f6f2;
}

#block-stationmap .content .text-formatted {
	height: 0;
}

#block-stationmap {
	height: 565px;
	overflow: hidden;
}

#block-stationmap #map {
	height: 480px;
}

@media all and (max-width: 1259px) {

	#block-listofteasedcpnews {
		height: auto;
	}

	#block-listofteasedcpevents {
		height: auto;
	}
}
