body a,
body a:active,
body a:hover,
body a:focus {
	color: #f06424;
}

body a:hover,
body a:focus {
	text-decoration: none;
}

#header {
	background-size: auto;
	background-image: url(https://static.icos-cp.eu/images/bright-squares.png);
	background-color: #f06424;
}

#header .tint {
  background-color: rgba(240, 99, 34, 0.3);
}

.site-footer .content a,
.site-footer .content a.is-active {
	color: #f06424;
}

.region-footer-second a.footer-link,
.region-footer-third a.footer-link {
	color: #ffffff;
}

.region-footer-first a.footer-link:hover,
.region-footer-second a.footer-link:hover,
.region-footer-third a.footer-link:hover {
	color: #f06424;
}

h1.page-title {
	color: #F06322;
}

#cpuserconsent {
	color: #F06322;
}

.cp_embed_twitter {
	max-height: 460px;
	overflow-y: auto;
}

.btn-orange {
	background: #f06424;
	color: #fff;
	border: 0;
}

.btn-orange:hover,
.btn-orange:focus {
	background: #D65A20;
	color: #fff;
}

.btn-orange:active {
	background: #BD4F1C;
	color: #fff;
}

.btn-outline {
	background: transparent;
	color: #f06424;
	border-color: #f06424;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
	background: #f06424;
	color: #fff;
}
