:root {
  --icos-cyan: #00abc9;
  --icos-cyan-50: #80d5e4;
  --icos-cyan-dark: #0092b3;
  --icos-cyan-grey: #e6ebeb;
  --icos-cyan-transparent: rgba(0, 171, 201, 0.85);
  --icos-grey-50: #939598;
  --icos-grey-75: #636466;
  --icos-grey-90: #414042;
  --icos-magenta: #e41c63;
}

html {
  font-size: 14px;
}

body,
#header,
.site-footer {
  color: #414042;
  font-family: "Open Sans", system-ui, -apple-system, sans-serif;
}

.above-the-header {
  background: var(--icos-magenta);
  overflow: hidden;
  text-align: center;
  color: white;
}

.above-the-header a,
.above-the-header a:hover,
.above-the-header a:focus {
  color: white;
  text-decoration: none;
}

.above-the-header .content {
  padding: 0.2rem 1rem 0;
}

a,
.btn-link {
  color: var(--icos-cyan);
  border-bottom-style: none;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
.btn-link:hover {
  color: var(--icos-cyan-dark);
  text-decoration: dotted underline;
  border-bottom: none;
}

.layout-container {
	max-width: 1200px;
}

iframe {
  max-width: 100%;
}

@media all and (min-width: 851px) {
  .layout-sidebar-second .main-content {
    width: 66%;
    margin-right: 33%;
  }

  .layout-sidebar-second #sidebar-second {
    width: 33%;
    margin-left: -33%;
    padding-left: 1rem;
  }
}

.block-views .view-news .views-field.views-field-field-image img,
.views-field-field-cp-event-picture img {
  float: right;
  margin-left: 2rem;
}

.page-title {
  font-weight: bold;
  font-size: 2.285rem;
  margin-bottom: 3rem;
  line-height: 3rem;
}

.field--name-field-introduction,
.toc-js,
.path-node .field--name-body,
.main-content .views-field-body,
.node--type-article .field--name-field-link,
.view-data-products .view-header,
.view-data-products h2,
.view-data-products .views-field-title,
.view-data-products .views-field-field-description {
  max-width: 90ch;
}

.external-link::after,
a[target=_blank]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f35d";
  font-weight: 900;
  margin: 0 0.3rem;
}

.path-frontpage h2 {
  margin: 2rem 0 1rem;
  font-weight: bold;
}

.path-frontpage .sidebar .block {
  border: none;
  border-bottom: 5px solid var(--icos-cyan);
  background: none;
  padding: 0;
  margin: 0 0 60px;
}

.path-frontpage .sidebar h2 {
  text-transform: uppercase;
}

.path-frontpage .sidebar h3 {
  font-size: 1.1,214285714rem;
}

.path-frontpage .sidebar .more-link {
  text-transform: uppercase;
  margin: 1rem 0;
}

.main-content h2 {
  margin: 4rem 0 0.5rem;
  font-size: 2rem;
}

h3 {
  font-size: 1.4285rem;
  font-weight: bold;
  margin-top: 2.143rem;
}

#header {
  height: 150px;
  background-image: url(../images/icos-header-medium.webp);
  background-size: cover;
}

#header .site-branding__logo img {
  height: 70px;
  margin: 32px 0;
}

#header .site-branding__text {
  display: none;
}

#block-headerlinks,
.block-search {
  display: none;
}

.align-right {
  margin-left: 1.5rem;
}

.text-formatted ul ul {
  margin: 0;
}

@media all and (min-width: 800px) {
  #header {
    background-image: image-set("/themes/cp_theme_d8/images/icos-header-medium.webp" 1x, "/themes/cp_theme_d8/images/icos-header-large.webp" 2x);
  }

  #block-headerlinks,
  .block-search {
    display: block;
  }

  .site-footer .region {
  width: 33%;
  }
}

.header-links {
  margin: 2rem 0 -1rem;
  font-size: 1rem;
  height: 21px;
}

.header-link {
  cursor: pointer;
}

.header-link:hover {
  color: white;
}

.header .header-link {
  display: none;
}

.header-link-separator::before {
  content: "|";
  margin: 0 1rem;
  color: white;
}

.tagline {
  margin: 2rem 0;
  font-weight: lighter;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--icos-grey-75);
}

.cp_embed_twitter {
  max-height: 460px;
  overflow-y: auto;
}

.btn-primary {
  background: var(--icos-cyan);
  color: #fff;
  border: 0;
}

.btn-primary:hover,
.btn-primary:focus {
  background: var(--icos-cyan);
  background: rgba(0, 171, 201, 0.85);
  color: #fff;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: var(--icos-cyan);
  filter: brightness(85%);
  color: #fff;
}

.btn-outline {
  background: transparent;
  color: var(--icos-cyan);
  border-color: var(--icos-cyan);
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  background: var(--icos-cyan);
  color: #fff;
}

body,
.site-footer {
  background: var(--icos-grey-75);
}

.site-footer {
  padding: 4rem 1rem;
}

.site-footer h2,
.site-footer h3,
.site-footer .content,
.site-footer .content a,
.site-footer .content a.is-active,
.site-footer a:hover {
  color: white;
}

.site-footer h2 {
  font-size: 1.4285rem;
  border-bottom: none;
  text-transform: initial;
}

.site-footer .block {
  border: 0;
  padding: 0;
  margin: 2rem 0;
}

.site-footer p {
  font-size: 1.071rem;
  margin: 0 0 0.5rem;
}

.site-footer .social-media-icon {
  font-size: 2rem;
  margin: 1rem 0.2rem;
}

.site-footer .social-media-icon:hover,
.site-footer .social-media-icon:active,
.site-footer .social-media-icon:focus {
  border: none;
}

.site-footer .social-media-icon:focus {
  outline: 1px dotted white;
}

#block-shortcuts .nav-pills .nav-link,
.field--name-field-side-links,
.field--name-field-bottom-left-links,
.field--name-field-bottom-right-links,
.sidebar .block {
  color: #414042;
  border-radius: 0;
  border-style: none;
  border-bottom: 5px solid white;
  padding: 1.5rem 8%;
  background-color: var(--icos-cyan-grey);
}

#block-shortcuts .nav-pills .nav-link:hover {
  color: #414042;
  border-bottom: 5px solid white;
}

#block-shortcuts .nav-pills .nav-link.active {
  background-color: var(--icos-cyan);
  color: white;
  font-weight: bold;
}

#block-shortcuts .tab-content,
#block-shortcuts .tab-pane,
#block-shortcuts .tab-text {
  height: 100%;
}

#block-shortcuts .tab-pane {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

#block-shortcuts .tab-content {
  border-bottom: 5px solid white;
}

#block-shortcuts .tab-text {
  background-color: var(--icos-cyan-transparent);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#block-shortcuts .tab-title {
  margin: 0;
  color: white;
  font-size: 1.5rem;
}

#block-shortcuts .tab-links a {
  color: white;
  border: none;
}

.view-spotlight img {
  border-bottom: 5px solid var(--icos-magenta);
}

.read-more {
  text-align: right;
  text-transform: uppercase;
}

.view-spotlight .views-field-title::before,
.marked-link::before,
.read-more::before,
.more-link::before,
.field--name-field-side-links .field__item:before,
.field--name-field-bottom-left-links .field__item:before,
.field--name-field-bottom-right-links .field__item:before,
.link-box-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  margin: 0 0.3rem;
  color: white;
}

.read-more::before,
.more-link::before,
.field--name-field-side-links .field__item:before,
.field--name-field-bottom-left-links .field__item:before,
.field--name-field-bottom-right-links .field__item:before {
  color: var(--icos-cyan);
}

.node--type-event .layout--threecol-section > .layout__region {
  flex: 0;
  margin-right: 1ch;
}

.layout--twocol-section--67-33 .layout__region.layout__region--first {
  padding-right: 2rem;
}

.layout--twocol-section--67-33 .layout__region.layout__region--second {
  padding-left: 1rem;
}

.block .content:has(.toc-js) {
  margin-top: 0;
}

.toc-js {
  margin-top: 10px;
  margin-bottom: 2rem;
}

.toc-title {
  font-size: 1.429em;
}

.toc-js ul {
  padding: 0;
}

.toc-js li {
  display: block;
  line-height: 2rem;
}

.toc-js li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f063";
	font-weight: 900;
  color: var(--icos-cyan);
  padding-right: 0.5rem;
}

.content .field--name-field-header-image {
  float: none;
  margin: -1em 0 0;
}

.field--name-field-side-links-title,
.field--name-field-bottom-left-links-title,
.field--name-field-bottom-right-links-title,
.sidebar .block h2 {
  font-size: 1.4285rem;
  font-weight: bold;
  text-transform: uppercase;
}

.field--name-field-side-links,
.field--name-field-bottom-left-links,
.field--name-field-bottom-right-links,
.sidebar .block {
  border-bottom-color: var(--icos-cyan);
}

.field--name-field-bottom-left-links,
.field--name-field-bottom-right-links {
  margin-right: 2rem;
}

.views-field-created,
.field--name-created {
  color: var(--icos-grey-50);
  margin-bottom: 0.5rem;
}

.data-product-preview-table {
  width: auto;
}

.caption.align-right {
  margin-left: 1em;
}

.caption.align-left {
  margin-right: 1em;
}

.node--type-cp-event .field--name-body img {
  margin-bottom: 1rem;
}

.node--type-article .field--type-image {
  float: none;
}

.node--type-article .field--type-image img {
  margin-bottom: 3rem;
}

.node__meta {
  margin: -2rem 0 3rem;
  font-size: 1rem;
}

.page-link {
  color: var(--icos-cyan);
}

.page-link:hover {
  color: var(--icos-cyan-dark);
}

.page-item.active .page-link {
  background-color: var(--icos-cyan);
  border-color: var(--icos-cyan);
}

.webform-submission-form {
  max-width: 90ch;
}

.webform-submission-form label:not(.option) {
  display: block;
  margin-bottom: .3rem;
}

.webform-submission-form input:not(.form-checkbox, .form-radio, .button, .form-file) {
  width: 100%;
}

.block-wide {
  width: max(100%, calc(98vw - 30px));
  position: relative;
  left: 50%;
  right: 50%;
  margin: 1rem -50%;
}

.block-wide .layout-container {
  padding: 15px;
}

.block-wide h2 {
  margin-top: 2rem;
}
