/** Menu **/

#cp_theme_d8_menu a:link,
#cp_theme_d8_menu a:hover,
#cp_theme_d8_menu a:active,
#cp_theme_d8_menu a:focus,
#cp_theme_d8_menu .link:hover,
#cp_theme_d8_menu .link:active,
#cp_theme_d8_menu .link:focus {
  text-decoration: none;
  border: 0;
  border-bottom-style: none;
  outline: 0;
}

#cp_theme_d8_menu .link a {
  padding-right: 4px;
}

#cp_theme_d8_menu .link .sublinks {
  padding: 0.5rem 1rem 0 1rem;
}

#cp_theme_d8_menu li.open ul {
  display: block;
}

#cp_theme_d8_menu li.open ul ul {
  display: none;
}

@media all and (min-width: 800px) {

  #cp_theme_d8_menu .link {
    padding: 0.6em;
  }

  #cp_theme_d8_menu ul li .sublinks {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    float: right;
  }

  #cp_theme_d8_menu ul li a:hover,
  #cp_theme_d8_menu li:hover li a:hover {
    color: #fff;
  }

  #cp_theme_d8_menu li li,
  #cp_theme_d8_menu li:hover li {
    float: none;
  }
}
