.region-primary-menu {
  border-bottom: 1px solid #eee;
}

#cp_theme_d8_menu {
  display: none;
  font-weight: bold;
}

#cp_theme_d8_menu.open {
  display: block;
}

#cp_theme_d8_menu .account {
  display: none;
  cursor: pointer;
}

#cp_theme_d8_menu .account a {
  display: block;
}

#menu-button {
  margin: auto 20px;
  font-weight: bold;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 24px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  line-height: 24px;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.header-section .region-header {
  margin-right: auto;
}

.menu-icon {
  color: white;
}

#cp_theme_d8_menu li {
  text-transform: uppercase;
}

#cp_theme_d8_menu li li li {
  text-transform: initial;
}

#cp_theme_d8_menu .fas.fa-home {
  display: inline-block;
}

@media all and (max-width: 799px) {
  a:hover {
    border-bottom-style: none;
  }

  #cp_theme_d8_menu li.open ul {
    display: block;
  }

  #cp_theme_d8_menu ul {
    padding: 0;
    margin: 0;
  }

  #cp_theme_d8_menu ul li {
    display: block;
    background: #414042;
  }

  #cp_theme_d8_menu li ul {
    display: none;
  }

  #cp_theme_d8_menu ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: white;
    border-bottom: 1px solid #525053;
  }

  #cp_theme_d8_menu li.is_topnode ul,
  #cp_theme_d8_menu li.has_subnodes ul {
    margin-left: 2em;
  }

  #cp_theme_d8_menu .has_subnodes img {
    width: 0.8em;
    margin-left: 1em;
    margin-bottom: 0.2em;
  }

  #cp_theme_d8_menu .is_topnode .menu-icon {
    float: right;
    height: 1.6em;
    cursor: pointer;
    padding-right: 20px;
    position: relative;
    top: 0.8em;
    color: white;
    font-size: 1.2em;
  }

  #cp_theme_d8_menu .submenu-icon {
    margin-left: 1em;
  }
}

@media all and (min-width: 800px) {
  #cp_theme_d8_menu .fas {
    display: none;
  }

  #cp_theme_d8_menu {
    display: block;
    max-width: none;
  }

  #menu-button {
    display: none;
  }

  .header-section {
    display: block;
  }

  #cp_theme_d8_menu ul {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
  }

  #cp_theme_d8_menu li {
    list-style: none;
    cursor: pointer;
    transition: background-color 0.1s ease-out;
  }

  #cp_theme_d8_menu li li {
    width: 268px;
    line-height: 1.2;
  }

  #cp_theme_d8_menu li li li {
    padding: 0;
    width: auto;
    font-weight: normal;
    line-height: 1;
  }

  #cp_theme_d8_menu li li li li {
    padding: 0 1.5rem;
  }

  #cp_theme_d8_menu li a {
    display: block;
    border: solid transparent;
    border-width: 5px 0;
    padding: 0.65rem 1.5rem;
    transition: border 0.1s ease-out;
  }

  #cp_theme_d8_menu li:hover {
    background-color: var(--icos-grey-90);
  }

  #cp_theme_d8_menu li:hover a {
    text-decoration: none;
  }

  #cp_theme_d8_menu .active-trail {
    border-bottom-color: var(--icos-magenta);
  }

  #cp_theme_d8_menu .is_topnode > ul {
    max-width: 1100px;
    visibility: hidden;
    position: absolute;
    left: 50px;
    right: 50px;
    justify-content: flex-start;
    padding: 1rem 1rem 1.5rem;
    background-color: var(--icos-grey-90);
    z-index: 10;
    transition: visibility 0.1s ease-out;
    margin: 0 auto;
    box-shadow: 0px 1px 1px #333;
    flex-wrap: wrap;
  }

  #cp_theme_d8_menu .is_topnode:hover > ul {
    visibility: visible;
  }

  #cp_theme_d8_menu li li a {
    color: white;
  }

  #cp_theme_d8_menu li li a:hover {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
  }

  #cp_theme_d8_menu ul ul ul {
    display: block;
    margin-bottom: 1rem;
  }

  #cp_theme_d8_menu ul ul ul ul {
    margin-bottom: 0;
  }

  #cp_theme_d8_menu li li li a {
    padding-top: 0;
    padding-bottom: 0;
    color: #eee;
  }

  #cp_theme_d8_menu .account {
    display: none !important;
  }
}
