/** Menu **/

#cp_theme_d8_menu {
  background-color: #414042;
}

#cp_theme_d8_menu li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

#cp_theme_d8_menu a {
  border-bottom: 1px solid #525053;
}

#cp_theme_d8_menu .account {
  display: none;
  cursor: pointer;
}

#cp_theme_d8_menu .account a {
  display: block;
}

#cp_theme_d8_menu .is_topnode .menu-icon {
  float: right;
  height: 1.6em;
  cursor: pointer;
  padding-right: 20px;
  position: relative;
  top: 0.8em;
  color: white;
  font-size: 1.2em;
}

#cp_theme_d8_menu .submenu-icon {
  margin-left: 1em;
}

@media all and (min-width: 800px) {
  #menu-button {
    display: none;
  }

  #cp_theme_d8_menu ul {
    padding: 0em 0em 0em 0em;
    margin: 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
    margin: 0em auto 0em auto;
    max-width: 1290px;
  }

  #cp_theme_d8_menu ul li {
    display: block;
    position: relative;
    float: left;
    background: #414042;
  }

  #cp_theme_d8_menu ul li a {
    display: flex;
    justify-content: space-between;
    padding: 0.6em;
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
  }

  #cp_theme_d8_menu li ul {
    display: none;
  }

  #cp_theme_d8_menu li:hover li {
    float: none;
    z-index: 1001;
  }

  .cp_theme_d8_menu li ul li {
    border-top: 0;
  }

  #cp_theme_d8_menu ul ul ul {
    left: 100%;
    top: 0;
  }

  #cp_theme_d8_menu ul:before,
  #cp_theme_d8_menu ul:after {
    content: " ";
    display: table;
  }

  #cp_theme_d8_menu ul:after {
    clear: both;
  }

  #cp_theme_d8_menu .is_topnode .menu-icon {
    font-size: 1em;
    padding-right: 10px;
    top: 0.6em;
  }

  #cp_theme_d8_menu .account {
    float: right;
  }

  #cp_theme_d8_menu a {
    border: 0;
  }

}

@media all and (max-width: 799px) {
  .header-section {
    display: flex;
    justify-content: space-between;
  }

  .header-section .region-header {
    margin-right: auto;
  }

  #menu-button {
    margin: auto 20px;
    font-weight: bold;
    color: white;
    background: rgba(255, 255, 255, 0.3);
    font-size: 24px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    line-height: 24px;
  }

  #cp_theme_d8_menu {
    display: none;
  }

  #cp_theme_d8_menu.open {
    display: block;
  }

  #cp_theme_d8_menu ul {
    padding: 0;
    margin: 0;
  }

  #cp_theme_d8_menu ul li {
    display: block;
    background: #414042;
  }

  #cp_theme_d8_menu li ul {
    display: none;
  }

  #cp_theme_d8_menu ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #ffffff;
  }

  #cp_theme_d8_menu li.is_topnode ul,
  #cp_theme_d8_menu li.has_subnodes ul {
    margin-left: 2em;
  }

  #cp_theme_d8_menu .has_subnodes img {
    width: 0.8em;
    margin-left: 1em;
    margin-bottom: 0.2em;
  }
}
