/** Menu **/

@media all and (min-width: 800px) {
  #cp_theme_d8_menu ul li a:hover,
  #cp_theme_d8_menu li:hover li a:hover {
    color: #ffffff;
  }

  #cp_theme_d8_menu .menu-item-text:hover,
  #cp_theme_d8_menu a:hover {
    background: #666468;
  }

  #cp_theme_d8_menu li:hover>ul {
    display: block;
    position: absolute;
    z-index: 1000;
  }

  #cp_theme_d8_menu a:link {
    border: 0;
  }

  #cp_theme_d8_menu a:focus {
    outline: 0;
  }

  #cp_theme_d8_menu .has_subnodes img {
    width: 1em;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 0.2em;
  }
}

@media all and (max-width: 799px) {
  #cp_theme_d8_menu li.open ul {
    display: block;
  }
}
