{#
/**
 * @file
 * Shared template for tag-style fields: field_cpcommhub_user_groups and
 * field_cpcommhub_scope. Renders values as Bootstrap badge pills.
 *
 * Available variables: see field.html.twig
 */
#}

{% if items[0].content %}
    {% for item in items %}
        <span class="badge text-bg-secondary me-1">{{ item.content }}</span>
    {% endfor %}
{% endif %}
