/** files **/
.cp_files { }

.cp_files .panel-default {
	border-color: #fff;
}

.cp_files .panel-heading {
	background-color: #0a96f0 !important;
}

.cp_files .panel-heading img { width: 70px; }

.cp_files .panel-heading .panel-title {
	display: inline;
	float: right;
	font-size: 26px;
	color: #fff;
}

.cp_files .panel a:link,
.cp_files .panel a:visited,
.cp_files .panel a:hover,
.cp_files .panel a:active,
.cp_files .panel a:focus {
	text-decoration: none;
	border-bottom: 0;
}

.cp_file { padding-bottom: 20px; }

.cp_file .file {
	display: inline;
}

.cp_file .file {  }

.cp_file .file a, .cp_file .file a.link {
	vertical-align: bottom;
	border-bottom: 0px;
}

.cp_file .description { 
	padding-top: 2px;
}


/** picture carousel **/
#cp_pictures_carousel { }

#cp_pictures_carousel .carousel-control {
  position: relative !important; 
  background-image: none !important; 
  font-size: xx-large !important;
}

#cp_pictures_carousel .glyphicon-chevron-left { 
  top: 0% !important; 
}

#cp_pictures_carousel .glyphicon-chevron-right { 
  top: 0% !important; 
}

#cp_pictures_carousel .carousel-indicators li { 
  display: none !important; 
}

#cp_pictures_carousel .carousel-control {
  position: relative !important;
  z-index: 100;
}

#cp_pictures_carousel .control_left {
  position: relative !important;
  z-index: 100;
  left: 20px !important;
  top: 50px;
}
#cp_pictures_carousel .control_right {
  position: relative !important;
  z-index: 100;
  left: 96% !important;
  top: 50px;
}