.node__content .field--name-field-ns-country,
.node__content .field--name-field-ns-longitude,
.node__content .field--name-field-ns-vegetation-type,
.node__content .field--name-field-ns-sensors,
.node__content .field--name-field-ns-station-pi {
	background-color: #eaf2d3;
}

.node__content .field--name-field-ns-country .field__label,
.node__content .field--name-field-ns-latitude .field__label,
.node__content .field--name-field-ns-longitude .field__label,
.node__content .field--name-field-ns-measurement-height .field__label,
.node__content .field--name-field-ns-vegetation-type .field__label,
.node__content .field--name-field-ns-variables .field__label,
.node__content .field--name-field-ns-sensors .field__label,
.node__content .field--name-field-ns-co2-measurements .field__label,
.node__content .field--name-field-ns-station-pi .field__label,
.node__content .field--name-field-ns-years .field__label,
.node__content .field--name-field-ns-country .field__item,
.node__content .field--name-field-ns-latitude .field__item,
.node__content .field--name-field-ns-longitude .field__item,
.node__content .field--name-field-ns-measurement-height .field__item,
.node__content .field--name-field-ns-vegetation-type .field__item,
.node__content .field--name-field-ns-variables .field__item,
.node__content .field--name-field-ns-sensors .field__item,
.node__content .field--name-field-ns-co2-measurements .field__item,
.node__content .field--name-field-ns-station-pi .field__item,
.node__content .field--name-field-ns-years .field__item {
	display: inline;
}

.node__content .field--name-field-ns-country .field__item,
.node__content .field--name-field-ns-latitude .field__item,
.node__content .field--name-field-ns-longitude .field__item,
.node__content .field--name-field-ns-measurement-height .field__item,
.node__content .field--name-field-ns-vegetation-type .field__item,
.node__content .field--name-field-ns-variables .field__item,
.node__content .field--name-field-ns-sensors .field__item,
.node__content .field--name-field-ns-co2-measurements .field__item,
.node__content .field--name-field-ns-station-pi .field__item,
.node__content .field--name-field-ns-years .field__item {
	position: absolute;
	left: 210px;
}

.node__content .field--name-field-ns-country {
	margin-top: 1rem;
}

.node__meta {
	display: none;
}
