.cp_contacts { }

@media all and (max-width: 1289px) {
	.cp_contacts .contact {
		float: none;
		width: 100%;	
	}
}

@media all and (min-width: 1290px) {
	.cp_contacts .contact {
		float: left;
		width: 33%;	
	}
}

.cp_contacts .picture {
	width: 100px;	
}

.cp_contacts .data {
	position: relative;
	bottom: 95px;
	left: 120px;
}

.cp_contacts .name,
.cp_contacts .title,
.cp_contacts .organization,
.cp_contacts .group, 
.cp_contacts .email,
.cp_contacts .phone {
	padding-bottom: 1rem;
}

.cp_contacts .name {
	font-size: 1.8rem;
	line-height: 1.7rem;	
}

.cp_contacts .title,
.cp_contacts .organization {
	text-transform: none;
}

.cp_contacts .title,
.cp_contacts .organization,
.cp_contacts .group,
.cp_contacts .email a,
.cp_contacts .phone a,
.cp_contacts .address {
	font-size: 100%;
	width: 50%;
}

.cp_contacts .email a,
.cp_contacts .phone a {
	border-bottom: 0px;
}