.cp_contacts { }

.cp_contacts .contact {
	float: left;
	width: 33%;	
}

.cp_contacts .picture {
	width: 100px;	
}

.cp_contacts .data {
	position: relative;
	bottom: 95px;
	left: 120px;
}

.cp_contacts .address,
.cp_contacts .group {
	display: none;
}
	
.cp_contacts .name,
.cp_contacts .title,
.cp_contacts .organization,
.cp_contacts .email {
	padding-bottom: 1rem;
}

.cp_contacts .name {
	font-size: 1.8rem;
	line-height: 1.7rem;	
}

.cp_contacts .title,
.cp_contacts .organization {
	text-transform: none;
}

.cp_contacts .title {
	font-size: 85%;
}

.cp_contacts .organization {
	font-size: 80%;
}

.cp_contacts .email a,
.cp_contacts .phone a {
	border-bottom: 0px;
}