.cp_contacts {
	display: flex;
	flex-wrap: wrap;
}

.cp_contacts .contact {
	width: 360px;
	margin-bottom: 4vh;
	display: flex;
	max-width: 100%;
	margin-right: 30px;
}

.cp_contacts .data_to_right {
	max-width: 80%;
}

.cp_contacts .picture {
	width: 20%;
	margin: 0 1em 1em 0;
	min-width: 20%;
}

.cp_contacts .name,
.cp_contacts .title,
.cp_contacts .organization,
.cp_contacts .address,
.cp_contacts .email,
.cp_contacts .phone {
	font-size: small;
	padding-bottom: 0.2em;
}

.cp_contacts .name {
	font-size: 1.5rem;
	padding-bottom: 0.5em;
}

.cp_contacts .email a,
.cp_contacts .phone a {
	border-bottom: 0;
}
