#cp_cmis { padding-top:20px; padding-right: 20px; }

.cp_cmis .small_text { font-size: 80%; }

.cp_cmis .panel-heading { height: 50px; background-color: #0A96F0 !important; }

.cp_cmis .panel-heading h3 a { margin-left: 10px; float: left; color: #ffffff; border-bottom: none; }

.cp_cmis .panel-heading h3 a:focus,
.cp_cmis .panel-heading h3 a:hover { text-decoration: none; }

.cp_cmis .panel-heading h3 img { width: 30px; float: left; }

.cp_cmis .panel-body table a:link,
.cp_cmis .panel-body table a:focus,
.cp_cmis .panel-body table a:hover { text-decoration: none; border-bottom-style: none; border-bottom: none; font-size: large;}

.list_of_cp_cmis_documents { }

.list_of_cp_cmis_documents .logo { }

.list_of_cp_cmis_documents .logo img { width: 200px; }

.list_of_cp_cmis_documents ul {
	padding: 0;
	list-style: none;
}

.list_of_cp_cmis_documents li {
	
}

.list_of_cp_cmis_documents .type { 
	float: left;
}

.list_of_cp_cmis_documents .type img { 
	width: 3rem;
}

.list_of_cp_cmis_documents .document { 
	font-size: 1.5rem;
}

.list_of_cp_cmis_documents .document a {
	margin-left: 2rem;
}

.list_of_cp_cmis_documents .document a,
.list_of_cp_cmis_documents .document a:link,
.list_of_cp_cmis_documents .document a:focus,
.list_of_cp_cmis_documents .document a:active {
	text-decoration: none;
	border: 0;
	outline: 0;
}

@media all and (min-width: 800px) {
	.list_of_cp_cmis_documents .logo {
		float: right;
	}
}

@media all and (max-width: 799px) {
	.list_of_cp_cmis_documents .logo {
		float: none;
	}
}
