.cp_cmis_documents { }

.cp_cmis_documents .panel-heading {
	background-color: #414042 !important;
	color: #414042 !important;
}

.cp_cmis_documents .panel-title img { width: 70px; }

.cp_cmis_documents .panel-title a {
	display: block;
	float: right;
}
