/* Utility class for hiding external link icon */

.no-external::after {
    content: "" !important;
    margin: 0 !important;
}

/* Full/Teaser view styles */

.cpservices-categories {
    label {
        font-size: 0.75rem;
    }
}

.field--name-field-cpservices-kpis {
    .described-data-item {
        margin: 1rem;
        padding: 0 1rem;
        .descriptor {
            font-size: 4em;
        }
        .data {
            font-size: 1.25em;
        }
    }
}

.field--name-field-cpservices-header, .field--name-field-cpservices-thumbnail {
    overflow: hidden;
    display: flex;
    margin-bottom: 1em;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.field--name-field-cpservices-header {
    aspect-ratio: 5 / 1;
}

.field--name-field-cpservices-thumbnail {
    aspect-ratio: 16 / 9;
}

/* Service catalogue View styles */

.cpservices-catalogue {
    container: service-catalogue / inline-size;

    .view-filters .form-type-textfield label {
        display: table;
    }

    .view-content {
        display: grid;
        gap: 1rem;
        align-items: stretch;
        margin-top: 0.5rem;
    }

    .view-filters {
        .views-exposed-form.bef-exposed-form {
            .form--inline {
                details {
                    border-width: 0;
                    min-width: 200px;
                    width: 23%;
                    min-height: 60px;
                    summary {
                        color: #414042;
                        background: unset;
                        font-weight: bold;
                        padding: 0;
                    }
                    .details-wrapper {
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                .form-item-service-name {
                    min-width: 200px;
                    width: 25%;
                }
            }

            legend, label[for="edit-service-name"] {
                font-size: 1em;
                margin-bottom: 0.5rem;
            }

            .form-item {
                margin-right: 1rem;
            }
        }
    }
}

@container service-catalogue (min-width: calc(900px + 2rem)) {
    .view-content {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@container service-catalogue (max-width: calc(899px + 2rem)) {
    .view-content {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}

@container service-catalogue (max-width: calc(599px + 1rem)) {
    .view-content {
        grid-template-columns: 1fr;
    }
}

body.path-service-catalogue .ajax-progress {
    display: none;
}
