{#
/**
 * @file
 * FLUXES full issue link block
 *
 * @ingroup themeable
 */
#}

<div>
	<img src="{{ icon }}" style="padding-right: 0.4em;">
	<a href="#fluxes-articles">Access the full issue bellow</a>
</div>