{#
/**
 * @file
 * Inner content for the CP Table of Contents block.
 *
 * Renders the <nav> and empty <ul> that cp_toc.js will populate.
 * The outer block wrapper (with .cp-toc class, all data-* settings,
 * and the `hidden` attribute) is provided by block--cp-toc-block.html.twig.
 *
 * Variables:
 *   - title:        TOC heading label (string, may be empty).
 *   - title_classes: Space-separated extra CSS classes for the title element.
 */
#}
<nav class="cp-toc__nav" aria-label="{{ title ?: 'Table of contents'|t }}">
  {% if title is not empty %}
    <div class="cp-toc__title{{ title_classes ? ' ' ~ title_classes }}" aria-hidden="true">{{ title }}</div>
  {% endif %}
  <ul class="cp-toc__list"></ul>
</nav>
