.tease_event {
	clear: both;
	padding-bottom: 1em;
}

.tease_event .title,
.full_event .title {
	padding-bottom: 0.3em;
}

.tease_event .from_date,
.full_event .from_date,
.full_event .to_date {
	padding-bottom: 1em;
	color: #817F83;
}

.tease_event .title a {
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-decoration: none;
	border-bottom: 0;
}

.tease_event .text a {
	text-decoration: none;
	border-bottom: 0;
}

.tease_event .picture {
	float: right;
	width: 90px;
	height: 90px;
	object-fit: cover;
	margin-left: 2rem;
}

.full_event {
	padding-bottom: 4em;
}

.cp_event .edit_this,
.full_event .from_date,
.full_event .date_separator,
.full_event .to_date {
	padding-bottom: 1em;
}

.full_event .from_date,
.full_event .date_separator,
.full_event .to_date {
	display: inline-block;
}

.full_event .date_separator {
	padding: 0 1em 0 1em;
}

.full_event .title {
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
}

.full_event .title a {
	font-size: 2rem;
	line-height: 2rem;
	text-decoration: none;
	border-bottom: 0;
}

.full_event .text img {
	float: right;
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.full_event .text a {
	text-decoration: none;
	border-bottom: 0;
}

.full_event .link {
	border-bottom: 0;
	padding-top: 2rem;
}

.full_event .link a {
	font-size: 2rem;
	text-decoration: none;
}

.full_event {
	width: 100%;
}

.full_event .text img {
	max-width: 100px;
}

@media all and (min-width: 500px) {
	.full_event {
		width: 80%;
	}

	.full_event .text img {
		max-width: 200px;
	}
}

@media all and (min-width: 1000px) {
	.full_event {
		width: 60%;
	}

	.full_event .text img {
		max-width: 400px;
	}
}

.archive_event .element {
	margin-bottom: 1em;
}

.archive_event .post {
	background-color: #e6e7e8;
}

.archive_event .post1 {
	background-color: #ffffff;
}

.archive_event .panel-heading {
	background-color: #e6e7e8 !important;
}

.archive_event a .panel-title {
	color: #414042;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0;
}

.archive_event .panel a:link,
.archive_event .panel a:visited,
.archive_event .panel a:hover,
.archive_event .panel a:active,
.archive_event .panel a:focus,
.archive_event a .panel-title:link,
.archive_event a .panel-title:visited,
.archive_event a .panel-title:hover,
.archive_event a .panel-title:active,
.archive_event a .panel-title:focus {
	text-decoration: none;
	border-bottom: 0;
}

.archive_event .heading a {
	text-decoration: none;
	border-bottom: 0;
}

.archive_event .to_date,
.archive_event .from_date {
	display: inline;
}

.archive_event .to_date span {
	padding: 0 10px 0 10px;
}

.archive_event .post,
.archive_event .post .title a {
	color: #414042;
}

.archive_event .post1,
.archive_event .post1 .title a {
	color: #414042;
}

.archive_event .post .title a:hover {
	color: #000;
}

.archive_event .post1 .title a:hover {
	color: #000;
}

.layout-main-wrapper {
	min-height: 0px !important;
}

.featured-bottom {
	background: rgba(255,255,255,1) !important;
	border-top: 0 !important;
}

#cp_events_page .title {
	margin: 0 0 1em 0;
	font-size: 1.5em;
}

#cp_events_page a,
#cp_events_page a:link,
#cp_events_page a:hover,
#cp_events_page .link {
	text-decoration: none;
	border-bottom: 0;
}

@media all and (min-width: 681px) {
	#cp_events_page .news_section .latest_news {
		width: 680px;
	}
}

@media all and (max-width: 680px) {
	#cp_events_page .news_section .latest_news {
		width: 100%;
	}
}

#cp_events_page .news_section .latest_news .picture {
	width: 100%;
}

#cp_events_page .news_section .news_list .item,
#cp_events_page .events_section .events_list .items .item {
	padding: 1rem 0 1rem 0;
	margin: 0 8rem 0 0;
	border-bottom: 0.1rem dashed #c7c8ca;
}

#cp_events_page .news_section .news_list .item .title,
#cp_events_page .events_section .events_list .items .item .title {
	margin: 0;
	font-size: 100%;
}

#cp_events_page .more-news {
	margin: 2rem 0;
}

@media all and (min-width: 1100px) {
	#cp_events_page .events_section {
		/* border: 0.1rem solid #c7c8ca; */
	}

	#cp_events_page .events_section #event_container {
		border-left: 0.2rem solid #c7c8ca;
		padding-left: 4rem;
	}
}

@media all and (max-width: 1099px) {
	#cp_events_page .events_section {
		border: 0;
	}

	#cp_events_page .events_section #event_container {
		border-left: 0;
	}
}

.event_button {
	display: inline-block;
	background-color: #fff;
	color: inherit;
	margin: 0 0 0 0;
	padding: 20px 0 20px 10px;
	width: 80%;
	border: 0;
}

.event_button:hover,
.event_selected {
	background-color: #e6e7e8;
	color: #414042;
}

.event_active {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #e6e7e8;
  margin-left: -4px;
}

.event_body_button {
	background-color: #e6e7e8;
	font-size: 1.4rem;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border: medium none;
	cursor: pointer;
	padding: 1.6rem 6rem;
	margin: 4rem 1rem 1rem 0;
	border-radius: 0.2rem;
	background-clip: padding-box;
}

.events_all_news .element {
	margin-bottom: 1rem;
}

.events_all_news .date {
	color: #817F83;
}