.tease-event {
	padding-bottom: 2em;
}

.tease-event .from_date,
.tease-event .heading,
.tease-event .picture {
	padding-bottom: 1em;
}

.tease-event .from_date {
	color: #0a96f0;
	font-weight: bold;
}

.tease-event .heading a {
	color: #0a96f0;
	font-size: 2rem;
	line-height: 2rem;
	text-decoration: none;
	border-bottom: 0;
}

.tease-event .text a {
	text-decoration: none;
	border-bottom: 0;
}

@media all and (min-width: 800px) {
	.tease-event .picture {
		max-width: 250px;
	}
}

@media all and (max-width: 799px) {
	.tease-event .picture {
		max-width: 200px;
	}	
}

.full-event {
	padding-bottom: 4em;
}

.full-event .from_date,
.full-event .date_separator,
.full-event .to_date,
.full-event .heading {
	padding-bottom: 1em;
}

.full-event .from_date,
.full-event .to_date {
	color: #0a96f0;
	font-weight: bold;
}

.full-event .from_date,
.full-event .date_separator,
.full-event .to_date {
	display: inline;	
}

.full-event .date_separator {
	padding: 0 1em 0 1em;
}

.full-event .heading {
	color: #0a96f0;
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
}

.full-event .heading a {
	color: #0a96f0;
	font-size: 2rem;
	line-height: 2rem;
	text-decoration: none;
	border-bottom: 0;
}

.full-event .text img {
	float: right;
	padding-left: 2rem;
	padding-bottom: 2rem;
}

.full-event .text a {
	text-decoration: none;
	border-bottom: 0;
}

.full-event .link {
	border-bottom: 0;
	padding-top: 2rem;
}

.full-event .link a {
	color: #414042;
	font-size: 2rem;
	text-decoration: none;
	border-bottom: 0;
}

@media all and (min-width: 800px) {
	.full-event {
		width: 60%;
	}
	
	.full-event .text img {
		max-width: 400px;
	}
}

@media all and (max-width: 799px) {
	.full-event {
		width: 100%;
	}
		
	.full-event .text img {
		max-width: 200px;
	}
}

.archive-event .element {
	margin-bottom: 1em;
}

.archive-event .post {
	background-color: #f8f5f3;
}

.archive-event .post1 {
	background-color: #ffffff;
}

.archive-event .panel-heading {
	background-color: #0A96F0 !important;
}

.archive-event .panel-title a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0;
}

.archive-event .panel a:link,
.archive-event .panel a:visited,
.archive-event .panel a:hover,
.archive-event .panel a:active,
.archive-event .panel a:focus,
.archive-event a .panel-title:link,
.archive-event a .panel-title:visited,
.archive-event a .panel-title:hover,
.archive-event a .panel-title:active,
.archive-event a .panel-title:focus {
	text-decoration: none;
	border-bottom: 0;
}

.archive-event .heading a {
	text-decoration: none;
	border-bottom: 0;
}

.archive-event .to_date,
.archive-event .from_date {
	display: inline;
}

.archive-event .to_date span {
	padding: 0 10px 0 10px;
}

.layout-main-wrapper {
	min-height: 0px !important;
}

.featured-bottom {
	background: rgba(255,255,255,1) !important;
	border-top: 0 !important;
}

.featured-bottom h2 {
	text-align: left !important;
}

#cp_events_page {
	
}

#cp_events_page .heading,
#cp_events_page .title {
	margin: 0 0 1em 0;
	font-size: 1.5em;
}

#cp_events_page a,
#cp_events_page a:link,
#cp_events_page a:hover,
#cp_events_page .link {
	text-decoration: none;
	border-bottom: 0;
}

@media all and (min-width: 681px) {
	#cp_events_page .news_section .latest_news {
		width: 680px;
	}	
}

@media all and (max-width: 680px) {
	#cp_events_page .news_section .latest_news {
		width: 100%;
	}	
}

#cp_events_page .news_section .latest_news .picture {
	width: 100%;
}

#cp_events_page .news_section .news_list .item,
#cp_events_page .events_section .events_list .items .item {
	padding: 1rem 0 1rem 0;
	margin: 0 8rem 0 0;
	border-bottom: 0.1rem dashed #c7c8ca;
}

#cp_events_page .news_section .news_list .item .title,
#cp_events_page .events_section .events_list .items .item .title {
	margin: 0;
	font-size: 100%;
}

@media all and (min-width: 1100px) {
	#cp_events_page .events_section {
		/* border: 0.1rem solid #c7c8ca; */
	}
	
	#cp_events_page .events_section #event_container {
		border-left: 0.2rem solid #c7c8ca;
		padding-left: 4rem;
	}
}

@media all and (max-width: 1099px) {
	#cp_events_page .events_section {
		border: 0;
	}
	
	#cp_events_page .events_section #event_container {
		border-left: 0;
	}
}

.event_button {
	display: inline-block;
	background-color: #fff;
	color: inherit;
	margin: 0 0 0 0;
	padding: 20px 0 20px 10px;
	width: 80%;
	border: 0;
}

.event_button:hover,
.event_selected {
	background-color: #0a96f0;
	color: #fff;
}

.event_active {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #0a96f0;
  margin-left: -4px;
}

.event_body_button {
	background-color: #0A96F0;
	font-size: 1.4rem;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border: medium none;
	cursor: pointer;
	padding: 1.6rem 6rem;
	margin: 4rem 1rem 1rem 0;
	border-radius: 0.2rem;
	background-clip: padding-box;
}

.event_share_button {
	display: block;
	width: 48px;
	height: 48px;
	border-radius: 50px;
	font-size: 100%;
	color: #fff;
	line-height: 48px;
	text-align: center;
	background-color: #0a96f0;
	margin: 4rem 0 0 0;
}

.twitter {
	background-image: url(../images/twitter.png);
	background-repeat: no-repeat;
	background-position: center;
}
