.tease_event .title a {
	font-size: 1.7rem;
	line-height: 1.7rem;
}

.tease_event .picture {
	float: none;
	max-width: 100%;
	margin: 0 0 10px 0;
}

.archive_event .post {
	background-color: #f8f5f3;
}

.archive_event .panel-heading {
	background-color: #0A96F0 !important;
}

.archive_event .panel-title a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0;
}

.archive_event .title a {
	text-decoration: none;
	border-bottom: 0;
}

.featured-bottom h2 {
	text-align: left !important;
}

.event_button:hover,
.event_selected {
	background-color: #0a96f0;
	color: #fff;
}

.event_active {
  border-left: 10px solid #0a96f0;
}

.event_body_button {
	background-color: #0A96F0;
}

.events_all_news .panel-heading {
	background-color: #0A96F0 !important;
}

.events_all_news .panel-heading a,
.events_all_news .panel-heading a:link,
.events_all_news .panel-heading a:focus,
.events_all_news .panel-heading a:active {
	color: #fff;
}
