.latest-blog .date {
	color: #0a96f0;
	font-weight: bold;
}

.latest-blog .heading {
	color: #0a96f0;
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
	padding-bottom: 2rem;
	float: left;
	width: 70%;
}

.latest-blog .picture {
	float: right;
	width: 30%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

@media all and (min-width: 800px) {
	.latest-blog {
		width: 100%;
	}
}

@media all and (max-width: 799px) {
	.latest-blog {
		width: 100%;
	}	
}

.cp_blog_teased .heading {
	font-size: 1.8rem;
	color: #0a96f0;
}

.cp_blog_teased .link, .cp_blog_teased .link:hover, .cp_blog_teased .link a, .cp_blog_teased .link a:hover {
	text-decoration: none;
	border-bottom: 0;
}

.cp_blog .heading, .cp_blog_earlier .heading {
	font-size: 2.5rem;
	color: #0a96f0;
}

.cp_blog .picture, .cp_blog_earlier .picture {
	float: right;
	padding-bottom: 2rem;
	margin-left: 10px;
}

.cp_blog .text, .cp_blog .picture, .cp_blog_earlier .text, .cp_blog_earlier .picture  {
	width: 50%;
}

.cp_blog_earlier .panel-heading {
	color: #0A96F0 !important;
}

.cp_blog_earlier .panel_heading_date {
	font-size: 1.5rem;
	padding: 0 10px 0 0;
}

.cp_blog_earlier .panel_heading_title {
	font-size: 2rem;
	padding: 0 0 0 0;
}
