.block-views-blocknews-block-1,
.block-views-blocknews-block-4 {
  img {
    border-radius: 0.375rem;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

/* News 1 */
.block-views-blocknews-block-1 {
  h3 {
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
  }

  time {
    display: block;
    color: var(--bs-secondary);
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

}

/* News 2-4 */
.block-views-blocknews-block-4 {
  margin-top: 3.3125rem;

  article {
    margin-bottom: 2.5rem;
  }
}

.icos-station-network {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  img {
    object-fit: cover;
    border-radius: 0.375rem;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  div:nth-of-type(3n) {
    img:first-of-type {
      height: 275px;
    }

    img:last-of-type {
      height: 260px;
    }
  }

  div:nth-of-type(3n+1) {
    img:first-of-type {
      height: 357px;
    }

    img:last-of-type {
      height: 177px;
    }
  }

  div:nth-of-type(3n+2) {
    img:first-of-type {
      height: 177px;
    }

    img:last-of-type {
      height: 357px;
    }
  }
}

.block-views-blockupcoming-events-block-1 {
  max-width: 900px !important;
}

.upcoming-events-title {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.highlights {
  &>div>div {
    --bs-bg-opacity: .2 !important;

    &>div {
      height: 260px;
      padding-top: 3rem;
      padding-bottom: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  a {
    color: black;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }
}

#fp-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.page .page-content .layout.layout--video {
  width: 100%;
  position: relative;
  margin-bottom: 0;

  .text-overlay {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding-top: 8.5rem;
    color: white;
    z-index: 5;
    height: 600px;
    background: linear-gradient(270deg, rgba(0, 171, 201, 0.10) 42%, rgba(0, 123, 144, 0.80) 62%, #005463 100%);

    &>div {
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;

      &>div {
        max-width: 50%;
        margin-left: 0;
      }
    }
  }
}

.page.template-full-width .page-content .layout--video .block {
  width: 100%;
}

.space-top {
  margin-top: 8.75rem !important;
}

.space-bottom {
  margin-bottom: 8.75rem !important;
}

.event-image img {
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 0 !important;
}


/* Larger than Bootstrap XXL breakpoint */
@media all and (min-width: 1400px) {}

/* Smaller than Bootstrap XXL breakpoint */
@media all and (max-width: 1399.98px) {}

/* Smaller than Bootstrap XL breakpoint */
@media all and (max-width: 1199.98px) {
  #fp-video {
    height: 500px;
  }

  .page .page-content .layout.layout--video {
    .text-overlay {
      padding-top: 5rem;
      height: 500px;
      background: linear-gradient(270deg, rgba(0, 171, 201, 0.10) 32%, rgba(0, 123, 144, 0.80) 52%, #005463 100%);

      &>div {
        &>div {
          max-width: 60%;
        }
      }
    }
  }
}

/* Smaller than Bootstrap L breakpoint */
@media all and (max-width: 991.98px) {
  #fp-video {
    height: 420px;
  }

  .page .page-content .layout.layout--video {
    .text-overlay {
      padding-top: 4rem;
      height: 420px;
      background: linear-gradient(270deg, rgba(0, 171, 201, 0.10) 16%, rgba(0, 123, 144, 0.80) 37%, #005463 100%);

      &>div {
        &>div {
          max-width: 75%;
        }
      }
    }
  }

  .row-two-front-page>div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.page .page-content .layout.layout--video {
  background: url('/home-image');
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Smaller than Bootstrap M breakpoint */
@media all and (max-width: 767.98px) {
  .space-top {
    margin-top: 5rem !important;
  }

  .space-bottom {
    margin-bottom: 5rem !important;
  }

  .page .page-content .layout.layout--video {
    background: url('/home-image');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;

    .text-overlay {
      min-height: 420px;
      height: unset;
      padding-bottom: 5rem;
      background: rgba(0, 123, 144, 0.70);

      &>div {
        &>div {
          max-width: 100%;
        }
      }

      a {
        margin-bottom: 0.5rem;
      }

      #toggle-video {
        display: none !important;
      }
    }
  }

  #fp-video {
    display: none;
  }

  .highlights {
    &>div>div {
      &>div {
        height: unset;
      }
    }

    img {
      display: none;
    }
  }

  .node--type-cp-event.node--view-mode-teaser-fp {
    .row {
      display: block;
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
    }

    .event-text {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .event-image {
      border-radius: 0.4rem 0.4rem 0 0 !important;
      padding-right: 0;
    }
  }
}

/* Smaller than ICOS Curve breakpoint (610px) */
@media all and (max-width: 609.98px) {
  .curve-app-iframe {
    display: none;
  }
}

/* Smaller than Bootstrap S breakpoint */
@media all and (max-width: 575.98px) {
  .upcoming-events-title {
    display: block !important;
  }

  .icos-station-network {
    div:last-child {
      display: none;
    }
  }
}
