/**
 * @file
 * Subtheme specific CSS for menu.
 */

.menu--main {
  width: 100%;
  padding-left: calc((100% - 1400px)/2);
  padding-right: calc((100% - 1400px)/2);
}

#cp_theme_d10_menu {
  a {
    text-decoration: none;
    color: var(--bs-dark);
    display: inline-block;
  }
}

@media all and (min-width: 992px) { /* Bootstrap LG breakpoint */
  .mobile {
    display: none;
  }

  #cp_theme_d10_menu {
    .top-node:hover .dropdown-menu {
      display: flex;
      flex-wrap: none;

      & > div {
        width: 20%;
      }
    }

    .top-node .dropdown-menu {
      left: 0;
      box-shadow: none;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

}

@media all and (min-width: 1400px) { /* Bootstrap XXL breakpoint */
  .menu--main {
    width: 100%;
    padding-left: calc((100% - 1400px)/2);
    padding-right: calc((100% - 1400px)/2);
  }
  
  #cp_theme_d10_menu {
    .top-node:hover .dropdown-menu {
      & > div {
        width: 316px;
      }
    }

    .top-node .dropdown-menu {
      padding-left: calc((100% - 1400px)/2 + 1rem);
      padding-right: calc((100% - 1400px)/2 + 1rem);
    }
  }
}
