/**
 * @file
 * Subtheme specific CSS for elements present on every page.
 */
 
 :root {
  --blue-10: #E5F7FA;
  --blue-10-rgb: 229, 247, 250;
  --icos-violet: #5C2B93;
  --icos-violet-rgb: 92, 43, 147;
 }

 * {
  transition: font-weight 0.1s;
 }

 /* Link styling */
a, a:not([class]) {
  text-decoration: underline 6%;
  text-decoration-skip-ink: none;
  text-underline-offset: 25%;
  text-underline-position: from-font;
}

a:hover {
  color: var(--bs-danger);
  font-weight: 600;
  text-decoration: underline 6%;
  text-decoration-skip-ink: none;
  text-underline-offset: 25%;
  text-underline-position: from-font;
}

a.fw-semibold:hover {
  font-weight: 700 !important;
}

a.social-media-icon {
  font-size: 20px;
  text-decoration: none !important;
  font-weight: 400;
}

.text-light a, .text-light a:hover {
  color: var(--bs-light);
}

/* Header */
.header .navbar-brand img {
  height: 36px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 0.875rem;
  --bs-breadcrumb-divider: "\f105";
  --bs-breadcrumb-divider-color: var(--bs-primary);
}

.breadcrumb-item::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}


/* Footer */
footer {
  padding: 1.8125rem 5.9375rem;

  .navbar-brand img {
    height: 60px;
  }

  a, a:hover {
    color: var(--bs-light);
  }

  .block {
    .content ul li {
      margin-right: 2rem;
    }
    
    .content ul.social-media li {
      margin-right: 0.875rem;
    }
  }

  hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    height: 1px;
    opacity: 0.16;
    background: var(--bs-light);
  }

  h3, .h6 {
    margin-bottom: 1rem;
  }

  .footer-bottom {
    margin-top: 6rem;
  }
}


/* Overriding Bootstrap theme defaults */

/* Correct font family on contributed theme components */
.site-footer, .ui-dialog, #page .ui-widget {
  font-family: var(--bs-body-font-family) !important;
}

/* Fix body text size */
.node__content {
  font-size: 1rem;
}

/* Basic page specific */

/* "On this page" and "Learn more" links boxes */
.layout--colored-flex {
  margin: 3rem auto;

  /* Do not display empty layout region */
  .layout__region:not(:has(.block)) {
    display: none;
  }

  /* Do not display left box if toc is hidden and links not present */
  .layout__region--left:has(.toc-js.is-hidden):not(:has(.block-field-blocknodepagefield-side-links-title), :has(.block-field-blocknodepagefield-side-links)) {
    display: none;
  }

  /* Layout builder - always display with black text */
  .layout__region.layout-builder__region {
    display: block !important;
    color: black !important;
    a {
      color: black !important;
    }
  }

  .layout__region--left, .layout__region--right {
    padding: 2rem;

    ul {
      margin-bottom: 0;
    }
  }

  /* Left box */
  .layout__region--left {
    a, a:hover {
      color: var(--bs-light);
    }
  }

  /* Right box */
  .layout__region--right {
    background-color: var(--blue-10);
  }

  /* Ensure margin-top is applied to titles if and only if there is a section above the titles */
  .layout__region--left:has(.toc-js.is-visible) .block-field-blocknodepagefield-side-links-title,
  .layout__region:has(.block-field-blocknodepagefield-bottom-left-links) .block-field-blocknodepagefield-bottom-right-links-title {
    margin-top: 2.5rem;
  }

}

/* General page stuff */
.page {
  .page-content {
    max-width: 70.5rem; /* 1128px */
    margin-left: auto;
    margin-right: auto;
  }
}

.page.full-width {
  .page-content {
    max-width: 100%;
  }
}

.page-content {
  img {
    max-width: 100%;
    height: auto;
  }

  a:hover {
    font-weight: inherit;
  }
}

/* Contacts */
.cp-contacts {  
  .cp-contact {
    min-width: 250px;
    width: 23%;
  }
}


/* Larger than Bootstrap XXL breakpoint */
@media all and (min-width: 1400px) { 
  .header {
    width: 100%;
    padding-left: calc((100% - 1400px)/2);
    padding-right: calc((100% - 1400px)/2);
  }
}

/* Smaller than Bootstrap L breakpoint */
@media all and (max-width: 991px) { 
  footer {
    #block-cp-theme-d10-footersecond {
      margin-top: 2rem;
    }

    .footer-bottom {
      margin-top: 3rem;

      .list-inline-item {
        display: block;
        margin-bottom: 1rem;
      }
    }
  }

  .cp-contacts .cp-contact {
    width: 48%;
    min-width: 250px;
  }
}

/* Smaller than Bootstrap M breakpoint */
@media all and (max-width: 767px) { 
  .cp-contacts .cp-contact {
    width: 100%;
  }
}
