.cp_documents { }

.cp_documents .panel-heading {
	background-color: #e6e7e8 !important;
	color: #414042 !important;
}

.cp_documents .panel-title img { width: 70px; }

.cp_documents .panel-title a {
    display: block;
    float: right;
}

.cp_document { padding-bottom: 20px; }

.cp_document .icon, .cp_document .file {
	display: inline;
}

.cp_document .icon { padding-right: 2rem; }

.cp_document .icon img { width: 100px; }

.cp_document .file {  }

.cp_document .file a { vertical-align: bottom; }

.cp_document .description { padding-top: 2px; }
