#main {
    margin-top: 0px;
    margin-bottom: 0px;	
}

#main-wrapper {
	height: 0px;
	min-height: 0px;
}

.featured-bottom { 
	background: rgba(0, 0, 0, 0) !important;
}

.featured-bottom .layout-container { 
	margin-left: 0px;
	margin-right: 0px;
}

.block {
	border-bottom: 0px !important;
}

.block h2 { 
	color: #0A96F0 !important;
	font-size: 1.8em !important;
	line-height: 1.8em !important;
	font-weight: bold;
}

.region-featured-bottom-first, .region-featured-bottom-third {
	width: 30% !important;
}

.region-featured-bottom-second {
	width: 40% !important;
}

@media all and (min-width: 851px) {
	.featured-bottom .layout-container {
		max-width: 100% !important;
	}
}