.cp_documents { }

.cp_documents .panel-heading {
	background-color: #0A96F0 !important;
	color: #ffffff !important;
}

.cp_documents .panel-title {
	height: 52.5px;
}

.cp_documents .panel-title img { 
	width: 70px; 
	float: right;
}

.cp_documents .panel-title a { 
	display: block;
  float: left;  
}

.cp_document { padding-bottom: 20px; }

.cp_document .icon, .cp_document .file {
	display: inline;
}

.cp_document .icon { padding-right: 2rem; }

.cp_document .icon img { width: 100px; }

.cp_document .file {  }

.cp_document .file a { vertical-align: bottom; }

.cp_document .description { padding-top: 2px; }