.featured-bottom {
	background: rgba(0, 0, 0, 0) !important;
	border-top: 0 !important;
}

.region-featured-bottom-first, .region-featured-bottom-third {
	width: 30% !important;
}

.region-featured-bottom-second {
	width: 40% !important;
}