<form action="/search" method="get" id="search-block-form" class="input-group" accept-charset="UTF-8" data-drupal-form-fields="edit-keys">
  <input data-drupal-selector="edit-keys" type="search" id="edit-keys" name="q" class="form-search form-control">
  <button class="btn btn-light border-0" type="submit" id="edit-submit"><i class="fas fa-search"></i></button>
</form>
