{{ attach_library('cp_search/search_results_page') }}

<div id="search-results">
    <p><em>Please note that you are searching the ICOS website content, go to 
    <a href="https://data.icos-cp.eu/" target="_blank">the Data Portal</a> to search for data.</em></p>

    <div id="searchbox"></div>

    <div id="hits" class="hide-on-empty-query"></div>

    <div id="pagination" class="hide-on-empty-query"></div>
</div>
