{{ attach_library('cp_search/search_results_page') }}

<div id="search-results" class="mb-7">
    <p class="info">Please note that you are searching the ICOS website content, go to 
    <a href="https://data.icos-cp.eu/" target="_blank" class="hide-external">the Data Portal</a> to search for data.</p>

    <label class="fw-semibold">Search</label>
    <div id="searchbox" class="mb-5"></div>

    <label class="fw-semibold mb-3">Category</label>

    <div id="categories" class="mb-5"></div>

    <div id="hits" class="hide-on-empty-query mb-4"></div>

    <div id="pagination" class="hide-on-empty-query"></div>
</div>
