{{ attach_library('cp_search/search_results_page') }}

<div id="search-results">
    <div id="searchbox"></div>

    <h2 id="hits-header" class="hide-on-empty-query">Search results</h2>

    <div id="hits" class="hide-on-empty-query"></div>

    <div id="pagination" class="hide-on-empty-query"></div>

</div>
