.latest_blog .date {
	color: #F06322;
	font-weight: bold;
}

.latest_blog .title {
	color: #F06322;
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
	padding-bottom: 2rem;
	float: left;
	width: 70%;
}

.latest_blog .picture {
	float: right;
	width: 30%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

@media all and (min-width: 800px) {
	.latest_blog {
		width: 100%;
	}
}

@media all and (max-width: 799px) {
	.latest_blog {
		width: 100%;
	}	
}