.latest-blog .date {
	color: #F06322;
	font-weight: bold;
}

.latest-blog .heading {
	color: #F06322;
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
	padding-bottom: 2rem;
	float: left;
	width: 60%;
}

.latest-blog .picture {
	float: right;
	width: 40%;
}

.featured-bottom {
        background: rgba(255,255,255,1) !important;
        border-top: 0 !important;
}