.latest_blog .date {
	color: #0a96f0;
	font-weight: bold;
}

.latest_blog .title {
	color: #0a96f0;
	font-size: 2rem;
	line-height: 2rem;
	border-bottom: 0;
	padding-bottom: 2rem;
	float: left;
	width: 70%;
}

.latest_blog .picture {
	float: right;
	width: 30%;
	padding-left: 1rem;
	padding-bottom: 1rem;
}

@media all and (min-width: 800px) {
	.latest_blog {
		width: 100%;
	}
}

@media all and (max-width: 799px) {
	.latest_blog {
		width: 100%;
	}	
}

.teased_cp_blog a,
.teased_cp_blog a:link,
.teased_cp_blog a:active,
.teased_cp_blog a:focus,
.teased_cp_blog a:hover {
	text-decoration: none;
	border-bottom: 0;
	border: 0;
	outline: 0;
}

.teased_cp_blog .date {
	color: #0a96f0;
	font-weight: bold;
	padding-top: 10px;
}

.teased_cp_blog .title {
	font-size: 1.8rem;
	color: #0a96f0;
	padding-bottom: 10px;
}

.teased_cp_blog .teaser {
	font-size: 0.914em;
	color: #333;
	padding-top: 10px;
}

@media all and (min-width: 800px) {
	.cp_blog {
		width: 60%;
	}

	.cp_blog .text img {
		max-width: 400px;
	}		
}

@media all and (max-width: 799px) {
	.cp_blog {
		width: 100%;
	}

	.cp_blog .text img {
		max-width: 200px;
	}			
}

.cp_blog .date {
	color: #0a96f0;
	font-weight: bold;
}

.cp_blog .title {
	font-size: 2.5rem;
	color: #0a96f0;
}

.cp_blog .text img {
	padding-bottom: 2rem;
}

@media all and (min-width: 1200px) {
	.cp_blog {
		float: left;
	}
	
	.cp_blog .text img {
		float: right;
		padding-left: 2rem;
	}	
	
	.recent_cp_blogs {
		margin-left: 2rem;
	}
	
	.recent_cp_blogs {
		float: left;
	}
	
	.recent_cp_blogs .title {
		float: left;
	}	
}

@media all and (max-width: 1199px) {
	.cp_blog {
		float: none;
	}
	
	.cp_blog .text img {
		float: none;
		padding-left: 0;
	}		
	
	.recent_cp_blogs {
		margin-left: 0;		
	}

	.recent_cp_blogs {
		float: none;
	}	
		
	.recent_cp_blogs .title {
		float: none;
	}		
}

.recent_cp_blogs div {
	float: left;
}

.recent_cp_blogs ul {
	padding: 0;
	list-style: none;
}

.recent_cp_blogs .blog {
	padding-bottom: 1.5rem;
}

.recent_cp_blogs .date {
	margin-right: 1rem;
}

.recent_cp_blogs .title {
}
	
#cp_blogs_list { }

.blogs_list .panel {
	border-left: 0;
	border-right: 0;
}

.blogs_list .panel-heading {
	background-color: #0A96F0 !important;
}

.blogs_list .panel-heading a,
.blogs_list .panel-heading a:link,
.blogs_list .panel-heading a:focus,
.blogs_list .panel-heading a:active {
	color: #fff;
	text-decoration: none;
	border: 0;
	outline: 0;
}

.blogs_list .panel-title {
	text-align: center;
}

.blogs_list .element {
	border-bottom: 2rem solid transparent;
}

.blogs_list .date {
	float: left;
	margin-right: 50px;
}

.blogs_list .title {}
