:root {
  --actris-blue: #0071b3;
  --actris-light: #f0f7fb;
}

body {
  background: #fff;
}

.site-footer {
  background: var(--actris-light);
  div.content, div.content a, div.content a:hover {
    color: #000;
  }
}

#header {
  background-color: #fff;
  background-image: url(../images/ac_header.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 1px solid #eee;
  height: 120px;
}

#header .site-branding__logo img {
  margin: 0;
  height: 100px;
  width: auto;
}

#cp_theme_d8_menu {
  background: var(--actris-light);
}

#cp_theme_d8_menu li:hover a:hover {
  color: var(--actris-blue);
}

#cp_theme_d8_menu .active-trail {
  border-bottom-color: var(--actris-blue);
}
