body {
  font-family: "SourceSansPro", sans-serif;
  font-size: 16px;
}

.page-node-type-cp-event .block-page-title-block,
.node--type-article {
  max-width: 90ch;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
}

.path-frontpage h2 {
  padding: 1rem 0 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.block-inline-blockimage img {
  border-radius: 1rem;
}

.maintenance-page #header,
.header {
  position: relative;
  max-width: 100%;
  min-height: 126px;
  margin: 0 auto;
  background: url(../images/header.webp) no-repeat center top/cover;
  border-top: 8px solid #61AB43;
}

.path-frontpage .header {
  background-position: center;
}

.path-frontpage .header h1 {
  color: #ffffff;
  padding: 20vw 5rem 3rem 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.region-header .site-branding {
  float: none;
  margin-top: 0;
}

.site-logo img {
  padding: 1rem;
}

.block-language .links {
  display: flex;
  list-style: none;
}

.language-link.is-active {
  display: none;
}

.region-breadcrumb {
  padding: 0 1rem 0.25em;
}

.main-content .section {
  padding: 0 1rem;
}

.messages:first-child {
  margin-top: 1rem;
}

#block-sites-main-menu {
  display: none;
}

#block-sites-main-menu.open {
  display: block;
}

.menu {
  padding: 0.5rem 1rem 0;
}

.region-primary-menu .menu,
.menu-content ul {
  padding: 0 1rem;
}

.region-primary-menu .menu-item-text {
  display: flex;
  align-items: baseline;
}

.region-primary-menu .menu-item,
.region-primary-menu .menu-icon {
  color: #fff;
  font-size: 1.125em;
}

.primary-nav-menu-item-has-children {
  position: relative;
}

.primary-nav-menu-item-has-children.open .navbar-nav {
  display: block;
}

.nav-link,
.language-link {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  text-decoration: none;
  border: none;
  color: rgba(255, 255, 255, 0.85);
}

.nav-link:hover, .nav-link:focus {
  border: none;
}

body:not(:target) .region-primary-menu .menu-item {
  width: auto;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-content-right {
  display: flex;
}

.menu-content-right .account {
  display: none;
}

#menu-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-weight: bold;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 24px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  line-height: 24px;
}

.banner {
  background: #61AB43;
}

.page {
  margin: 0 auto;
  max-width: 1400px;
}

.site-footer {
  background: rgba(20, 25, 31, 0.80);
  padding: 2rem 0;
  color: white;
}

.block-link-box {
  margin-bottom: 2rem;
}

@media all and (min-width: 980px) {
  .block-link-box {
    margin: 1rem 1rem 2rem;
  }

  .region-content-left .block-link-box,
  .region-content-right .block-link-box {
    margin: 0;
  }

  .layout__region--first .block-link-box {
    margin-left: 0;
  }

  .layout__region--third .block-link-box {
    margin-right: 0;
  }
}

.block-link-box .link-box-image {
  position: relative;
}

.block-link-box .link-box-title {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-shadow: 0 0 1px #555;
}

.block-link-box img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 1rem;
}

.block-link-box .field--name-body {
  margin-top: 1rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0 1rem;
  gap: 3rem;
  filter: grayscale(1);
}

.partners img {
  width: auto;
  height: 70px;
}

.node--view-mode-frontpage-block .field--name-field-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.node__meta {
  color: var(--bs-secondary);
  padding-bottom: 0.5rem;
}

.layout--twocol-section--67-33 .layout__region.layout__region--second {
  padding-left: 1rem;
}

blockquote {
  font-size: 1.25rem;
  background: #eee;
  padding: 1em 2em;
  border-radius: 1em;
  p {
    margin: 0;
  }
}

@media all and (max-width: 980px) {
  .primary-nav-menu-item-has-children > .nav-link::after {
    float: right;
  }
  .primary-nav-menu-item-has-children .navbar-nav {
    padding-left: 2rem;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: transparent;
  }
}

@media all and (min-width: 980px) {
  #menu-button {
    display: none;
  }
  #block-sites-main-menu {
    display: flex;
  }
  .primary-nav-menu-item-has-children:hover .navbar-nav {
    display: block;
  }
  .primary-nav-menu-item-has-children .navbar-nav {
    position: absolute;
  }
  .primary-nav-menu-item-has-children .navbar-nav {
    box-shadow: 0 1px 36px rgba(0, 0, 0, 0.08);
    z-index: 1;
    min-width: 150px;
  }

  .primary-nav-menu-item-has-children>.nav-link::after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    font-size: 0.7rem;
    font-weight: 900;
    margin: 0 0.3rem;
  }

  .primary-nav-menu-item-has-children .navbar-nav {
    display: none;
  }
}

